@import "tailwindcss";

/* Homepage CSS */

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce-once {

  0%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(0);
  }
}

@keyframes pulse-slow {

  0%,
  100% {
    transform: scale(1) rotate(6deg);
  }

  50% {
    transform: scale(1.05) rotate(6deg);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards 0.3s;
  /* Delayed */
}

.animate-bounce-once {
  animation: bounce-once 1.5s ease-in-out forwards;
}

.animate-pulse-slow {
  animation: pulse-slow 3s infinite ease-in-out;
}


@keyframes swing {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}